{% extends "base.html" %}

{% block content %}
    <p> Number of Questions - <span id="number_of_questions">{{ number_of_questions }}</span></p>
    {% for question in questions %}
    <div>
        <p>
            <p><a href="/questions/{{ question.id }}">{{ question.question_text }}</a></p>
            <ul>
                <li>Yes - {{ question.number_of_yes_votes }}</li>
                <li>No - {{ question.number_of_no_votes }}</li>
                <li>Maybe - {{ question.number_of_maybe_votes }}</li>
            </ul>
        </p>
    </div>
    {% endfor %}
<hr />
{% endblock %}